:root {
  --bg-primary: #102b3f;
  --nav-text-color: #cccdff;
  --nav-hover: #b9faf8;
  --text-primary: #f4f4f9;
}

/* General */

html {
  background-color: var(--bg-primary);
}

#styled-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Noto Sans", sans-serif;
  min-height: 100vh;
}

.offset-top {
  margin-top: -276px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6rem;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
  width: 60%;
}

.heading h1 {
  color: var(--nav-hover);
  font-weight: 400;
  font-size: clamp(1rem, 0.8548rem + 0.6452vw, 1.5rem);
}

.heading::before,
.heading::after {
  content: "";
  flex: 1 1;
  height: 1px;
  background-color: var(--nav-text-color);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(16, 43, 63, 0.95);
  color: var(--nav-text-color);
  padding: 1rem 2.5rem 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 12;
}

.navbar-nav {
  font-size: 0.9rem;
  font-weight: 200;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  color: var(--nav-hover);
  margin: 0;
  padding: 0;
}

.nav-item::marker {
  color: var(--nav-hover);
}

.nav-item a {
  text-decoration: none;
  color: var(--nav-text-color);
}

.nav-item a:hover {
  text-decoration: none;
  color: var(--nav-hover);
}

.resume {
  text-align: center;
}

.resume-button {
  display: inline-block;
  color: var(--nav-hover);
  background-color: transparent;
  text-decoration: none;
  border: 0.1rem solid var(--nav-hover);
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
}

.resume-button:hover {
  display: inline-block;
  color: var(--nav-hover);
  text-decoration: none;
  border: 0.1rem solid var(--nav-hover);
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  background-color: rgba(185, 250, 248, 0.2);
}

.navbar-toggle {
  display: none;
  color: var(--nav-hover);
  font-size: 2rem;
}

/* Intro */

#intro {
  margin-top: clamp(8rem, 20vw + 1rem, 18rem);
  margin-bottom: clamp(8rem, 20vw + 1rem, 25rem);
}

#intro > h1 {
  color: var(--nav-hover);
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: clamp(1rem, 0.9419rem + 0.2581vw, 1.2rem);
  margin-bottom: 1rem;
}

#intro > h2 {
  color: var(--nav-text-color);
  font-weight: 600;
  font-size: clamp(1.8rem, 0.871rem + 4.129vw, 5rem);
  margin-bottom: 1rem;
}

#intro > h3 {
  font-weight: 500;
  font-size: clamp(1.6rem, 1.1935rem + 1.8065vw, 3rem);
  color: #a6a6c8;
  margin-bottom: 1.5rem;
}

#intro > p {
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 70%;
}

/* About */

#about {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 6rem;
  min-width: 300px;
}

#about-text {
  font-size: clamp(1rem, 0.9419rem + 0.2581vw, 1.2rem);
}

#about-text > div > p {
  max-width: 40rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

#profile-image {
  text-align: center;
}

#profile-image > img {
  border-radius: 50%;
  border: 3px solid var(--nav-hover);
}

/* Skills */

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer {
  margin-top: auto;
}
