@media screen and (max-width: 750px) {
  #styled-content {
    position: relative;
  }

  .navbar-nav,
  .nav-links {
    flex-direction: column;
  }

  .navbar {
    padding-right: 2rem;
  }

  .resume {
    padding-bottom: 2rem;
  }

  .nav-logo {
    align-self: flex-start;
  }

  .nav-links,
  .resume {
    display: none;
    font-size: 0.8rem;
  }

  .navbar-nav {
    align-items: center;
    margin-left: auto;
  }

  .navbar-toggle {
    display: inline-block;
    cursor: pointer;
    align-self: flex-end;
  }

  .bi-list {
    animation: fade1 0.3s linear;
  }

  .bi-x-lg {
    animation: fade2 0.3s linear;
    padding-top: 0.8rem;
    font-size: 1.8rem;
  }

  @keyframes fade1 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .navbar-show {
    display: flex;
  }

  .heading {
    width: 90%;
  }

  .contact-para {
    width: 60vw;
  }

  .side-bar {
    display: none;
  }

  .social-alt {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}
