/* root styling */

html {
  font-size: 10px;
  background-color: #102b3f;
}

body {
  margin: 0;
  color: #f4f4f9;
  font-family: 'Fira Sans', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
  background-color: #102b3f;
}

#styled-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  min-height: 100vh;
  padding: 26rem 15rem 0 15rem;
}

/* Header and top nav styling */

header {
  top: 0rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  z-index: 11;
  background-color: rgba(16, 43, 63, 0.95);
  position: fixed;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Fira Code', monospace;
  position: relative;
  z-index: 12;
  width: 100%;
  height: 10rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links > ol > li > a {
  color: #cccdff;
  text-decoration: none;
}

.nav-links > ol > li > a:hover {
  color: #b9faf8;
}

.nav-links ol {
  display: flex;
  gap: 5rem;
  color: #cccdff;
  list-style-type: decimal-leading-zero;
}

.nav-links ol li::marker {
  color: #b9faf8;
}

.resume {
  margin-right: 5rem;
}

.resume-button {
  color: #b9faf8;
  background-color: transparent;
  text-decoration: none;
  border: 0.1rem solid #b9faf8;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
}

.resume-button:hover {
  color: #b9faf8;
  text-decoration: none;
  border: 0.1rem solid #b9faf8;
  padding: 0.8rem 1.3rem;
  border-radius: 0.5rem;
  background-color: rgba(185, 250, 248, 0.2);
}

/* Side-bar social links styling */

.side-bar {
  color: #cccdff;
  font-size: 2.5rem;
  position: fixed;
  width: 3rem;
  bottom: 0rem;
  left: 3rem;
  right: auto;
  z-index: 10;
}

.side-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-bar a {
  color: #cccdff;
  text-decoration: none;
}

.side-bar a:hover {
  color: #b9faf8;
}

.side-bar ul::after {
  content: '';
  display: block;
  width: 0.1rem;
  height: 9rem;
  margin: 0 auto;
  background-color: #cccdff;
}

/* Section styling */

section {
  margin: 0 auto;
  max-width: 100rem;
}

/* Intro section styling */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 30rem;
}

#intro h1 {
  color: #b9faf8;
  font-family: 'Fira Code', monospace;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 1rem;
}

#intro h2 {
  color: #cccdff;
  font-weight: 600;
  font-size: 7.5rem;
  margin: 0;
  padding-bottom: 1rem;
}

#intro h3 {
  font-weight: 500;
  font-size: 6rem;
  margin: 0;
  color: #a6a6c8;
  padding-bottom: 1rem;
}

#intro p {
  color: #f4f4f9;
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0;
  max-width: 60%;
}

/* About section */

#profile-image > img {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  border: 4px solid #b9faf8;
}
